<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button default-href="/tabs/tab1"></ion-back-button>
    </ion-buttons>
    <ion-title>Subir Video</ion-title>
    <ion-progress-bar type="indeterminate"></ion-progress-bar>
  </ion-toolbar>
</ion-header>

<ion-content color="light">
  <form #videoForm="ngForm">
    <ion-list [inset]="true">
      <ion-item>
        <!-- Agregamos un input tipo 'file' oculto -->
        <input type="file" accept="video/*" (change)="onFileSelected($event)" style="display: none" id="fileInput">
        <!-- Agregamos un botón visible que actúa como un activador del input 'file' -->
        <ion-button color="light" (click)="openFileInput()">Seleccionar Archivo</ion-button>
      </ion-item>
      <ion-item>
        <ion-input name="title" [(ngModel)]="title" label="Titulo de video" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-input name="hashtag" [(ngModel)]="hashtag" label="Agrega un Hashtag" required></ion-input>
      </ion-item>
    </ion-list>

    <ion-list [inset]="true">
      <ion-item>
        <ion-textarea name="description" [(ngModel)]="description" label="Descripcion" labelPlacement="floating" rows="5" required></ion-textarea>
      </ion-item>
    </ion-list>

    <ion-note color="medium" class="ion-margin-horizontal">
      Your comments will be kept anonymous and will only be used to improve the reliability of our products.
    </ion-note>

    <ion-button color="success" style="display: flex; align-items: center; justify-content: center;" (click)="subirVideo(videoForm)">
      Subir Video
      <ion-icon name="arrow-up-circle-outline" slot="end"></ion-icon>
    </ion-button>
  </form>
</ion-content>


